<style type="text/css"> 
	.text    { background: #666666; color: #000000; }
	.alert    { background: #ffff00; color: #ff0000; }
	.navigation    { background: #000000; color: #ffffff; }
	.title 	{ background: #eeeeee; color: #000000; }
	.header  { background: #000000; color: #ffffff; }
	.footer  { background: #000000; color: #ffffff;  }
	.company { font-weight: bold; }
	.titleImage {float: left; }
	.footerImage {float: right; }
	hr	{ clear: both; border:solid; border-width:1px;}
	a { color: blue; text-decoration: underline; }
	a.whitelink {color: white; text-decoration:underline;}
	img.floatLeft { float: left; margin: 5px; 
}
	
	body
	{ 
		background-color: #eeeeee;
		color: #111111;
	}
</style>
